.navbar {
    height: 10vh;
}

.navbar-brand {
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    color:blueviolet
    
}
.btn {
    padding: 12px 35px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0%;
    transition:all ease-in-out .5s;
}
.btn-brand {
    background-color:blue;
    color:aqua;
}
.btn-brand:hover {
    border: 2px solid red;
    color: violet;
}
.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;

}
#banner {
    background: url('img1.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 75px;
    color: black;
}
#banner p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(200, 89, 248, 0.884);
}

.card-img-top{
    width: 35% !important;
}

.card{
    padding: 20px;
    border: 3px solid rgb(88, 24, 227) !important;
    transition: all ease-in .4s;
}

.card:hover{
    border: 3px solid rgb(239, 32, 250) !important;
    transform: scale(1.1);
    background-color: rgb(159, 10, 182);
    border-color: rgb(249, 32, 224);
}
.card:hover .card-title,
.card-hover .card-text{
    color: rgb(243, 28, 222);
}

section{
    padding: 100px;
}
#sugpon h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    color: rgb(130, 7, 146);
    margin-bottom: 30px;
}